* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  background-color: #d6d6d6;
}

.container {
  margin: 0 auto;
  text-align: center;
}

/* 
=====================
Navbar
=====================
 */
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;

  background-color: #ff4500;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.7rem;
}

.nav > h4 {
  width: 80%;
  font-family: Helvetica;
  font-size: 0.8rem;
  color: #fdfd7a;
  text-transform: capitalize;
}

.logo {
  color: #fff;
  font-size: 4rem;
}

/*
========================
Form 
========================
*/
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: fit-content;
  padding: 3rem 0;
  background-color: black;
}

.form {
  display: flex;
}

.form-container input {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  width: 20rem;
  outline: none;
}
input::placeholder {
  text-transform: capitalize;
}

.btn {
  margin-left: 1rem;
  border: none;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 2px;
  padding: 0.2rem 0.5rem;
  background-color: #fff;

  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #ff4500;
  color: #fff;
}

/* 
===========================
Goals
===========================
 */
.goals {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  grid-gap: 2rem;
  margin: 5rem;
}

.goal {
  display: flex;
  padding: 3rem;
  align-items: center;
  background-color: #fdfd7a;
}
input[type='checkbox'] {
  margin-right: 0.7rem;
  height: 2rem;
  width: 2rem;
}
